<div class="mainContainer" th:fragment="myNews" id="myNewsBlock" >
    <tr th:each="news : ${newsList}">

        <div class="item">
            <td>
                <div class="iframeItem" th:data-hover="${news.description}">
            <span>
              <a th:href="${news.url}">
              <img width="450px" height="250px" th:src="${news.urlToImage}"></img>
              </a>
            </span>
                </div>
                <div class="infoItem">
                    <div class="nameItem" th:text="${news.title}"></div>
                    <div class="bottomItem">
                        <div class="parutionItem">
                            <span th:text="${news.source}"></span>
                            <span class="dateItem"  th:text="${news.publishedAt}"></span>
                        </div>
                        <div class="buttonItem">
                            <button id="btnAddNewsToDossier" type="button" data-type="news" th:attr="id=${news.news_id}" style="background: border-box;" class="btn" onclick="displayDossier();">
                                <img height="30px" src="https://cdn-icons-png.flaticon.com/512/63/63788.png">
                            </button>
                            
                            <div th:replace="/fragments/espace/myDossiers.html :: dossierList">
                            </div>

                            <button id="btnDeleteNews" type="button" th:attr="newsId=${news.news_id}" style="background: border-box;" class="btn" onclick="deleteNews(); ">
                                <img height="30px" src="https://cdn-icons-png.flaticon.com/512/39/39220.png">
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </div>
    </tr>
</div>

<script th:src="@{/jquery/jquery3.6.0.js}"></script>
<script th:src="@{/js/espace.js}"></script>
<script th:src="@{/js/dossier.js}"></script>