<div class="mainContainer" th:fragment="myNews" id="myNewsBlock" >
    <tr th:each="news : ${newsList}">

        <div class="item">
            <td>
                <div class="iframeItem" th:data-hover="${news.description}">
            <span>
              <a th:href="${news.url}">
              <img width="450px" height="250px" th:src="${news.urlToImage}"></img>
              </a>
            </span>
                </div>
                <div class="infoItem">
                    <div class="nameItem" th:text="${news.title}"></div>
                    <div class="bottomItem">
                        <div class="parutionItem">
                            <span th:text="${news.source}"></span>
                            <span class="dateItem"  th:text="${news.publishedAt}"></span>
                        </div>
                        <div class="buttonItem">
                            <div>
                            <button id="btnAddNewsToDossier" onclick="event.stopPropagation(); bascule('formNouveauDossier');" type="button" style="background: border-box;" class="btn">
                                <img height="30px" src="https://cdn-icons-png.flaticon.com/512/63/63788.png">
                            </button>
                            <tr th:each="dossier : ${dossiers}">
                                <td>
                                    <form id="addNewsToDossierForm" th:action="@{/espace/addNewsInDossier}">
                                        <button onclick="addNewsToDossier();" style="cursor: pointer; background-color: transparent;" th:attr="dossierId=${dossier.id}, newsId=${news.id}" type="submit" class="btn" th:text="${dossier.name}"></button>
                                    </form>
                                </td>
                            </tr>  
                            </div>
                            <button id="btnDeleteNews" type="button" th:attr="newsId=${news.id}" style="background: border-box;" class="btn" onclick="deleteNews(); ">
                                <img height="30px" src="https://cdn-icons-png.flaticon.com/512/39/39220.png">
                            </button>
                            
                        </div>
                    </div>
                </div>
            </td>
        </div>
    </tr>
</div>

<script th:src="@{/jquery/jquery3.6.0.js}"></script>
<script th:src="@{/js/espace.js}"></script>
<script th:src="@{/js/dossier.js}"></script>