.mainContainer{
    display:flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    margin-top: 5%; 
    align-content: space-around;
}

.item{
    font-size: small; 
    color:white; 
    font-family: cursive; 
    position:relative;
}

.infoItem{
    margin:5% 5%;
}


.nameItem{
    text-align: left; 
    max-width: 400px; 
    margin-bottom: 5%;
}

.parutionItem{
    display:grid; 
    font-size:small; 
    color: gray;
}

.parutionItem > span, button{
    text-align: left;
}


.authorItem {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.bottomItem {
    display: flex;
}

.buttonItem {
    margin: 0 0 0 auto;
    display: flex;
}

.buttonItem > button{
    cursor: pointer;
}

.iframeItem:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    max-inline-size: 100%;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
  }
  
  .iframeItem:hover:before {
    opacity: 1;
    visibility: visible;
  }