<!DOCTYPE html>
<html xmlns:th="http://www.thymealf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="icon" href="https://cdn.radiofrance.fr/s3/cruiser-production/2022/02/6038a30f-fb0e-4750-8c9d-8c0d36ec4f2d/560x315_gettyimages-1303337459.jpg" />

    <!-- CSS Perso -->
    <link th:href="@{/css/basePage.css}" rel="stylesheet" />
    <link th:href="@{/css/resultPage.css}" rel="stylesheet" />



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Dossier</title>
</head>
<body style="background-color: currentColor;">
<div th:replace="/fragments/navbar.html :: .navbar"></div>

   
<div style = "display: flex; justify-content: space-between; ">
    <div style="display: flex;">
        <a style="height: fit-content; color: white;" href="/espace" type="button" class="btn btn-primary">Retour à Mon Espace</a>
        <form id="formDeleteDossier" th:action="@{'/dossier/deleteDossier/{id}' (id=${currentDossier.id})}" th:method="delete">
            <button type="submit"  class="btn btn-primary" style="height: fit-content; color: white;">Supprimer le dossier <span th:text="${currentDossier.name}"></span>
            </button>
        </form>
    </div>
    <div style="display: grid;height: fit-content;" id="btnModifDossier">
        <button onclick="bascule('formModifDossier');" class="btn btn-primary" style="height: fit-content; color: white;">Modifier le nom du dossier</button>
        <form id="formModifDossier" role="search" style = "display:none; max-width: 25%;" th:action="@{/dossier/modifNomDossier}" th:object="${currentDossier}" th:method="put">
            <input style="width:unset;" class="form-control me-2" type="search" placeholder="Nouveau nom du dossier" aria-label="Nouveau nom du dossier" th:field="*{name}" value="Nouveau nom de dossier">                    
            <input type="hidden" class="form-control me-2" th:field="*{id}">
            <button class="btn btn-outline-success" type="submit">Modifier</button>
        </form>
    </div>

    <ul id="dossierRecapBlock" th:fragment="dossierRecap" class="list-group" style = "width: 10%;">
            <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight:900; " th:text="${currentDossier.name}">
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Total
                <span class="badge badge-primary badge-pill" th:text="${totalCount}"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Vidéo
              <span class="badge badge-primary badge-pill" th:text="${videoCount}"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Article
              <span class="badge badge-primary badge-pill" th:text="${newsCount}"></span>
            </li>
          </ul>
</div>

<!--Boutons de tri par date de publi/enregistrement : en attente de responsivité via javascript
<div id="tri">
    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
    <label style = "width:auto;" class="btn btn-secondary" for="option1">Par date de publication</label>

    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
    <label style = "width:auto;" class="btn btn-secondary" for="option2">Par date d'enregistrement</label>
</div>-->



<div class="mainContainer">
    <tr th:each="news : ${newsList}">

        <div class="item">
            <td>
                <div class="iframeItem" th:data-hover="${news.description}">
            <span>
              <a th:href="${news.url}">
              <img width="450px" height="250px" th:src="${news.urlToImage}"></img>
              </a>
            </span>
                </div>
                <div class="infoItem">
                    <div class="nameItem" th:text="${news.title}"></div>
                    <div class="bottomItem">
                        <div class="parutionItem">
                            <span th:text="${news.source}"></span>
                            <span class="dateItem"  th:text="${news.publishedAt}"></span>
                        </div>
                        <div class="buttonItem">
                            <a style="background: border-box;" class="btn" onClick="return confirm('Voulez vous télecharger cette vidéo ?')">
                                <img height="30px" src="https://cdn-icons-png.flaticon.com/512/63/63788.png"></a>
                       
                            <form th:action="@{'/espace/deleteNews/{id}' (id=${news.id})}" th:method="delete">
                                <button type="submit"  style="background: border-box;" class="btn" onClick="return confirm('Êtes vous sûr de vouloir supprimer cet article ?')">
                                    <img height="30px" src="https://cdn-icons-png.flaticon.com/512/39/39220.png">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </div>
    </tr>
</div>

<div class="mainContainer">
    <tr th:each="video : ${videoList}">

        <div class="item">
            <td>
                <div class="iframeItem">
            <span>
              <iframe width="450px" height="250px" th:src="${video.iframe}"></iframe>
            </span>
                </div>
                <div class="infoItem">
                    <div class="nameItem" th:text="${video.name}"></div>
                    <div class="bottomItem">
                        <div class = "parutionItem">
                            <span th:text="${video.author}"></span>
                            <span class="dateItem" th:text="${video.datePublication}"></span>
                        </div>
                        <div class="buttonItem">
                            <a th:href="${video.downloadLink}" style="background: border-box;" class="btn" onClick="return confirm('Voulez vous télecharger cette vidéo ?')"><img height="30px" src="https://cdn-icons-png.flaticon.com/512/724/724933.png"></a>
                            <a th:href="${video.downloadLink}" style="background: border-box;" class="btn" onClick="return confirm('Voulez vous télecharger cette vidéo ?')">
                                <img height="30px" src="https://cdn-icons-png.flaticon.com/512/63/63788.png"></a>
                       
                            <form th:action="@{'/espace/deleteVideo/{id}' (id=${video.id})}" th:method="delete">
                                <button type="submit"  style="background: border-box;" class="btn" onClick="return confirm('Êtes vous sûr de vouloir supprimer cette vidéo ?')">
                                    <img height="30px" src="https://cdn-icons-png.flaticon.com/512/39/39220.png">
                                </button>
                            </form>
                            </div>
                    </div>
                </div>
            </td>
        </div>
    </tr>
</div>

<script th:src="@{/jquery/jquery3.6.0.js}"></script>

<script th:src="@{/js/dossier.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>