<!DOCTYPE html>
<html xmlns:th="http://www.thymealf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Favicon -->
     <link rel="icon" href="https://cdn.radiofrance.fr/s3/cruiser-production/2022/02/6038a30f-fb0e-4750-8c9d-8c0d36ec4f2d/560x315_gettyimages-1303337459.jpg" />

    <!-- CSS Perso -->
    <link th:href="@{/css/basePage.css}" rel="stylesheet" />
    <link th:href="@{/css/resultPage.css}" rel="stylesheet" />


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Youtube</title>

</head>

<body style="background-color: currentColor;">

  <div th:replace="/fragments/navbar.html :: navbar"></div>

  <form id="searchVideoForm" role="search" style = "max-width: 25%;margin: 0 auto; display: flex;" th:action="@{/youtube/search}" th:object="${search}">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" th:field="*{query}">
    <select class="form-control form-control-lg" style="max-width: fit-content;" th:field="*{language}">
      <option value="FR">FR</option>
      <option value="EN">EN</option>
    </select>
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

  <div class="loaderRecherche">
    <div class="loadingRecherche">
    </div>
  </div>

  <div th:replace="/fragments/video/videoSearchResults.html :: videoSearchResults">
  </div>



  <script th:src="@{/jquery/jquery3.6.0.js}"></script>
  <script th:src="@{/js/searchVideo.js}"></script>

  <script th:src="@{/js/dossier.js}"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>